* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color:#EC7063;
  font-weight: 500;
  font-size: 2rem;
  opacity: 0.8;
  text-shadow: 0 0 1.5px #ff6e6e;
}

p {
  color:#EC7063;
  font-weight: 500;
  font-size: 1.5rem;
  opacity: 1;
  text-shadow: 0 0 1px #ff6e6e;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #FADBD8, #F1948A);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  position: absolute;
  background: white;
  min-height: 65%;
  width: 80%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}

#avatar {
  position: absolute;
  height: 60%;
  top:20%;
  left: 15%;
}

.profile {
  width: 30%;
  height: 100%;
}

.menu {
  position: absolute;
  display: flex;
  top: 18%;
  z-index: 3;
}

a {
  text-decoration: none;
}

.button {
  margin: 0 20px;
}

.profileText {
  margin-right: 75px;
  position: absolute;
  top: 30%;
  left: 45%;
}

.contentText {
  position: absolute;
  left: 15%;
  top: 25%;
}

#content {
  display: none;
}